aniso8601==7.0.0
appdirs==1.4.4
asgiref==3.2.10
astroid==2.3.3
autopep8==1.5.3
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
cffi==1.14.3
colorama==0.4.3
decorator==4.4.2
distlib==0.3.1
Django==3.1
django-cors-headers==3.5.0
django-extensions==3.0.9
django-livereload-server==0.3.2
dnspython==2.0.0
email-validator==1.1.1
filelock==3.0.12
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
idna==2.10
ipython==7.18.1
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.2
jsonfield==3.1.0
lazy-object-proxy==1.4.3
mccabe==0.6.1
parso==0.7.1
pickleshare==0.7.5
Pillow==7.2.0
promise==2.3
prompt-toolkit==3.0.7
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.1
PyJWT==1.7.1
pylint==2.4.4
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
rope==0.17.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.14.0
soupsieve==2.0.1
sqlparse==0.3.1
toml==0.10.1
tornado==6.0.4
traitlets==5.0.4
Unidecode==1.1.1
virtualenv==20.0.27
virtualenvwrapper-win==1.2.6
wcwidth==0.2.5
wrapt==1.11.2
